@font-face {
  font-weight: 400;
  font-family: 'Jost';
  font-style: normal;
  src: url('../fonts/Jost/Jost-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Lato';
  font-style: normal;
  src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Lato';
  font-style: normal;
  src: url('../fonts/Lato/Lato-Medium.woff2') format('woff2');
}