* {
  margin: 0;
  padding: 0;

  border: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html body {
  overflow: hidden auto;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

form {
  display: contents;
}

a {
  cursor: pointer;

  &,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

:focus,
:active {
  outline: none;
}

textarea,
input,
select {

  &,
  &:focus-visible,
  &:active,
  &:hover,
  &:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;

    resize: none;
  }


  &::placeholder {
    font-weight: inherit;
  }

  &::-ms-clear {
    display: none;
  }
}

nav,
footer,
header,
aside {
  display: block;
}


button {
  cursor: pointer;
}