@import '/src/shared/styles/style.scss';

.benefit-list {
  &__title {
    position: relative;
    padding-left: 2.8rem;
    @include h3-secondary;
    color: $c-text-teriary;
    margin-bottom: 2rem;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      border-radius: 50%;

      width: 1.6rem;
      height: 1.6rem;

      background-color: $c-line-primary;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
  }

  @include br-tablet {
    padding-left: 3rem;
    padding-bottom: 3rem;

    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: .7rem;
      top: 1.6rem;
      width: .2rem;
      height: 100%;
      background-color: $c-line-primary;
    }

    &:last-of-type {
      padding-bottom: 0;

      &::before {
        height: calc(100% - 1.6rem);
      }
    }

    &__title {
      padding-left: 0;
      margin-bottom: 2.6rem;
      @include h3;

      &::before {
        left: -1.4rem;
        transform: translateX(-100%) translateY(-50%)
      }
    }

    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }
  }

  @include br-desktop {
    padding-left: 4rem;
    padding-bottom: 4rem;


    &__title {
      &:before {
        left: -2.4rem
      }
    }
  }
}