@import '/src/shared/styles/style.scss';

.button {
  width: 100%;
  position: relative;
  @include button;
  color: $c-text-teriary;

  padding: 1.3rem 2.8rem;
  border: .2rem solid $c-accent-primary;
  background-color: $c-accent-primary;
  border-radius: .3rem;

  transition: color $tt-primary ease, background-color $tt-primary, border-color $tt-primary ease;

  &--size-small {
    padding: 0.9rem 1.8rem;
  }

  @include hover {
    &:hover {
      background-color: $c-primary-hover;
      border-color: $c-primary-hover;
    }
  }

  &:disabled {
    background-color: $c-text-secondary;
    border-color: $c-text-secondary;
    color: $c-text-primary;
    cursor: not-allowed;
  }

  &--theme-secondary {
    background-color: transparent;
    color: $c-accent-primary;

    @include hover {
      &:hover {
        background-color: transparent;
        color: $c-primary-hover;
      }
    }

    &:disabled {
      border-color: $c-secondary;
      background-color: transparent;
      color: $c-text-primary;
    }
  }

  &--theme-tertiary {
    background-color: transparent;
    color: $c-accent-primary;
    padding: 0;
    border: none;

    @include hover {
      border: none;

      &:hover {
        background-color: transparent;
        color: $c-primary-hover;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $c-text-secondary;
    }
  }

  &--theme-quaternary {
    width: fit-content;
    background-color: transparent;
    color: $c-accent-primary;
    padding: 0;
    padding-right: 2.6rem;
    border: none;

    @include hover {
      border: none;

      &:hover {
        background-color: transparent;
        color: $c-primary-hover;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $c-text-secondary;
    }
  }


  &--theme-quaternary &__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 1.8rem;
    width: 1.8rem;

    svg {
      width: 100%;
      height: 100%;
      stroke: $c-accent-primary;
    }
  }

  @include hover {
    &--theme-quaternary:hover &__icon-wrapper {
      svg {
        stroke: $c-primary-hover;
      }
    }
  }

  &--theme-quaternary:disabled &__icon-wrapper {
    svg {
      stroke: $c-text-secondary;
    }
  }
}