@import '/src/shared/styles/style.scss';

.choose-role {
  &__title {
    max-width: 20.5rem;
    @include h2-secondary;
    color: $c-text-teriary;
    margin-bottom: 1.5rem;
  }

  @include br-tablet {
    &__title {
      @include h3;
      margin-bottom: 2rem;
    }
  }
}