@mixin br-mobile {
  @media (min-width: ($bp-mobile + px)) {
    @content;
  }
}

@mixin br-tablet {
  @media (min-width: ($bp-tablet + px)) {
    @content;
  }
}

@mixin br-desktop {
  @media (min-width: ($bp-desktop + px)) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin visually-hidden {
  position: fixed;
  transform: scale(0);
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}