@import '/src/shared/styles/style.scss';

.benefits {
  &__title {
    @include h1-secondary;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: $c-text-teriary;
  }

  &__lists {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  @include br-tablet {
    &__title {
      @include h2;
      padding-left: 3rem;
    }

    &__lists {
      gap: 0;
    }
  }

  @include br-desktop {
    margin-bottom: 4rem;

    &__title {
      padding-left: 4rem;
    }
  }
}