@import '/src/shared/styles/style.scss';

.contacts {
  &__title {
    @include p2;
    color: $c-text-teriary;
    margin-bottom: 1.8rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}